<div class="solicitud-container">
  <mat-card class="solicitud-card">
    <mat-card-title>Datos Solicitud</mat-card-title>
    <mat-card-content>
      <form [formGroup]="solicitudForm">
        <div class="form-group">
          <mat-form-field class="form-field">
            <mat-label>R.U.N</mat-label>
            <input matInput placeholder={{usuario?.rut}} formControlName="run" />
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-label>Nombres</mat-label>
            <input matInput placeholder={{usuario?.nombres}} formControlName="nombres" />
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-label>Apellidos</mat-label>
            <input matInput placeholder="" formControlName="apellidos" />
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-label>Fecha creacion</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fechaCreacion">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker to #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="form-group-horizontal">
          <mat-card-subtitle>Datos de la Empresa</mat-card-subtitle>
        </div>

        <div class="form-group">
          <mat-form-field class="form-field">
            <mat-label>RUT</mat-label>
            <input matInput placeholder="" formControlName="rutEmpresa" />
            <mat-error *ngIf="solicitudForm.get('rutEmpresa')?.hasError('required')">
              El RUT es obligatorio.
            </mat-error>
            <mat-error *ngIf="solicitudForm.get('rutEmpresa')?.hasError('invalidRut')">
              El RUT no es válido.
            </mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="buscarEmpresaPorRut()">Buscar</button>
        </div>

        <div class="form-group">
          <mat-form-field class="form-field">
            <mat-label>Razón Social</mat-label>
            <input matInput placeholder="" formControlName="razonSocial" />
          </mat-form-field>
        </div>

        <mat-card-subtitle>Comuna donde se realiza la actividad laboral</mat-card-subtitle>
        <div class="form-group">
          <mat-form-field class="form-field">
            <mat-label>Dirección</mat-label>
            <input matInput placeholder="" formControlName="direccion" />
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-label>Región</mat-label>            
            <input matInput placeholder="" formControlName="region" />          
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-label>Comuna</mat-label>
            <input matInput placeholder="" formControlName="comuna" />           
          </mat-form-field>
        </div>

        <mat-card-subtitle> Actividad Económica </mat-card-subtitle>
        <div class="form-group">
          <mat-form-field class="form-field">
            <mat-label>Código</mat-label>
            <input matInput placeholder="" formControlName="actividadEconomica" />
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-label>Descripción</mat-label>
            <input matInput placeholder="" formControlName="descripcion" />
          </mat-form-field>
        </div>

        <mat-divider></mat-divider>

        <mat-card-subtitle>Datos trabajadores</mat-card-subtitle>    
        <table mat-table [dataSource]="dataSource" class="mat-table">
          <!-- RUT Column -->
          <ng-container matColumnDef="rut">
            <mat-header-cell *matHeaderCellDef> RUT </mat-header-cell>
            <mat-cell *matCellDef="let control; let i = index" [formGroup]="control" class="cell2">
              <mat-form-field class="form-field2 ">
                <input matInput formControlName="rut" placeholder="RUT">
              </mat-form-field>
            </mat-cell>
          </ng-container>

          <!-- Nombre Column -->
          <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let control; let i = index" [formGroup]="control" >
              <mat-form-field class="form-field2">
                <input matInput formControlName="nombre" placeholder="Nombre">
              </mat-form-field>
            </mat-cell>
          </ng-container>

          <!-- Edad Column -->
          <ng-container matColumnDef="edad">
            <mat-header-cell *matHeaderCellDef> Edad </mat-header-cell>
            <mat-cell *matCellDef="let control; let i = index" [formGroup]="control">
              <mat-form-field class="form-field">
                <input matInput formControlName="edad" placeholder="Edad" type="number">
              </mat-form-field>
            </mat-cell>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
            <mat-cell *matCellDef="let control; let i = index">
              <button mat-icon-button color="warn" (click)="removeTrabajador(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </table>
        <button mat-raised-button color="primary" (click)="addTrabajador()">Agregar Trabajador</button>


        <mat-card-subtitle>Batería de examen</mat-card-subtitle>
        <mat-divider></mat-divider>
        <div class="form-group">
          <mat-form-field class="form-field">
            <mat-label>Tipo Batería</mat-label>
            <mat-select (selectionChange)="onSelectChange($event)">
              <mat-option *ngFor="let bateria of baterias" [value]="bateria.nombre">
                {{ bateria.nombre }}
              </mat-option>
            </mat-select>
          
          </mat-form-field>
        
        </div>
        <mat-divider></mat-divider>

        <mat-card-subtitle>Recomencion</mat-card-subtitle>
        <div class="form-group">
          <mat-card-content>{{recomendacion}}</mat-card-content>
        </div>



        
     
        <mat-divider></mat-divider>


        <mat-card-subtitle>Exámenes de la batería</mat-card-subtitle>
        <div class="form-group">
          <table mat-table [dataSource]="examenes" class="mat-table">
            <!-- Nombre Column -->
            <ng-container matColumnDef="nombre">
              <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.nombre }} </mat-cell>
            </ng-container>
        
       
            <mat-header-row *matHeaderRowDef="examColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: examColumns;"></mat-row>
          </table>
        </div>

        <div class="button-group">
          <button mat-raised-button color="primary" type="submit">Crear Solicitud</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
